<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.DivisionTeam"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.Division"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.GoalieStatistics"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.LeagueSeasonDivision"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.League"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.LeagueSeason"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.TimeOfYear"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.Player"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.Season"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.SkaterStatistics"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.DivisionTeamPlayer"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.TeamStatistics"/>
        <mapping class="io.github.hylinn.statistics.hibernate.entity.Team"/>

    </session-factory>
</hibernate-configuration>