<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/statistics_test</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">4Bcd3Fgh1Jkl</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="io.github.hylinn.hibernate.statistics.DivisionTeam"/>
        <mapping class="io.github.hylinn.hibernate.statistics.Division"/>
        <mapping class="io.github.hylinn.hibernate.statistics.GoalieStatistics"/>
        <mapping class="io.github.hylinn.hibernate.statistics.LeagueSeasonDivision"/>
        <mapping class="io.github.hylinn.hibernate.statistics.League"/>
        <mapping class="io.github.hylinn.hibernate.statistics.LeagueSeason"/>
        <mapping class="io.github.hylinn.hibernate.statistics.TimeOfYear"/>
        <mapping class="io.github.hylinn.hibernate.statistics.Player"/>
        <mapping class="io.github.hylinn.hibernate.statistics.Season"/>
        <mapping class="io.github.hylinn.hibernate.statistics.SkaterStatistics"/>
        <mapping class="io.github.hylinn.hibernate.statistics.DivisionTeamPlayer"/>
        <mapping class="io.github.hylinn.hibernate.statistics.TeamStatistics"/>
        <mapping class="io.github.hylinn.hibernate.statistics.Team"/>

    </session-factory>
</hibernate-configuration>