<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/statistics</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="io/github/hylinn/hibernate/statistics/DivisionTeamsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.DivisionTeamsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/DivisionsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.DivisionsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/GoalieStatsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.GoalieStatsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/LeagueDivisionsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.LeagueDivisionsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/LeaguesEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.LeaguesEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/PlaySeasonsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.PlaySeasonsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/PlayersEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.PlayersEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/SeasonLeaguesEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.SeasonLeaguesEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/SeasonsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.SeasonsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/SkaterStatsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.SkaterStatsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/TeamPlayersEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.TeamPlayersEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/TeamStatsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.TeamStatsEntity"/>
        <mapping resource="io/github/hylinn/hibernate/statistics/TeamsEntity.hbm.xml"/>
        <mapping class="io.github.hylinn.hibernate.statistics.TeamsEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>